# Configuration. This is used for both Tup and GNU make builds and is initialized
# by running "configure".

# Whether to build static or shared libraries and executables. The value should
# be one of the words "shared", "static", or "both".
CONFIG_LINKAGE=shared

# Optimization. C++ compiler flags for optimazation
CONFIG_OPTIMIZATION=-O3 -DNDEBUG

# Compiler switches
CONFIG_CXX_O_SWITCH=-o'' ''
CONFIG_CXX_C_SWITCH=-c'' ''
CONFIG_CXX_LIBDIR_SWITCH=-L
CONFIG_CXX_RPATH_SWITCH=-Wl,-rpath,
CONFIG_CXX_LIB_SWITCH=-l

CONFIG_CC_O_SWITCH=-o'' ''
CONFIG_CC_C_SWITCH=-c'' ''
CONFIG_CC_INCDIR_SWITCH=-I
CONFIG_CC_LIBDIR_SWITCH=-L
CONFIG_CC_RPATH_SWITCH=-Wl,-rpath,
CONFIG_CC_LIB_SWITCH=-l
